<a href="https://colab.research.google.com/github/mneedham/data-science-training/blob/master/03_Recommendations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recommendations: Part 1

In this notebook we're going to learn how to make recommendations using Neo4j. Let's import our libraries in case we don't have those from the previous notebooks:

In [ ]:
from py2neo import Graph
import pandas as pd

import matplotlib 
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_colwidth', 100)

In [4]:
# Change the line of code below to use the IP Address, Bolt Port, and Password of your Sandbox.
# graph = Graph("bolt://<IP Address>:<Bolt Port>", auth=("neo4j", "<Password>")) 

# graph = Graph("bolt://18.234.168.45:33679", auth=("neo4j", "daybreak-cosal-rumbles")) 
graph = Graph("bolt://localhost", auth=("neo4j", "neo"))

##  Finding popular authors

Since we're going to make collaborator suggestions so let's find authors who have written the most articles so that we have some data to work with.

In [5]:
popular_authors_query = """
MATCH (author:Author)
RETURN author.name, size((author)<-[:AUTHOR]-()) AS articlesPublished
ORDER BY articlesPublished DESC
LIMIT 10
"""

graph.run(popular_authors_query).to_data_frame()

   articlesPublished       author.name
0                 89  Peter G. Neumann
1                 80  Peter J. Denning
2                 72    Moshe Y. Vardi
3                 71  Pamela Samuelson
4                 65      Bart Preneel
5                 56    Vinton G. Cerf
6                 53    Barry W. Boehm
7                 49      Mark Guzdial
8                 47  Edwin R. Hancock
9                 46     Josef Kittler

Let's pick one of these authors...

In [6]:
author_name = "Peter G. Neumann"

And let's have a look what articles they've published and how many citations they've received:

In [7]:
author_articles_query = """
MATCH (:Author {name: $authorName})<-[:AUTHOR]-(article)
RETURN article.title AS article, article.year AS year, size((article)<-[:CITED]-()) AS citations
ORDER BY citations DESC
LIMIT 20
"""

graph.run(author_articles_query,  {"authorName": author_name}).to_data_frame()

,article,citations,year
0,"The foresight saga, redux",2,2012
1,Security by obscurity,2,2003
2,Risks of automation: a cautionary total-system perspective of our cyberfuture,1,2016
3,"Computers, ethics, and values",1,1991
4,Risks of National Identity Cards,1,2001
5,Crypto policy perspectives,1,1994
6,Are dependable systems feasible,1,1993
7,Information system security redux,1,2003
8,The foresight saga,1,2006
9,Robust open-source software,1,1999
10,Survivable systems,0,1992
11,Alternative passwords,0,1994
12,Animal crackers,0,1993
13,Internet gambling,0,1998
14,Identity-Ralated Misuse.,0,1997
15,Friendly fire,0,1994
16,The risks of self-auditing systems,0,2016
17,Optimistic optimization,0,2004
18,Responsibilities of technologists,0,2005
19,Anticipating disasters,0,2005

Find the authors collaborators...

In [10]:
collaborations_query = """
MATCH (:Author {name: $authorName})<-[:AUTHOR]-(article)-[:AUTHOR]->(coauthor)
RETURN coauthor.name AS coauthor, count(*) AS collaborations
ORDER BY collaborations DESC
LIMIT 10
"""

graph.run(collaborations_query,  {"authorName": author_name}).to_data_frame()

                  coauthor  collaborations
0         Lauren Weinstein               3
1         Whitfield Diffie               3
2             Susan Landau               3
3       Rebecca T. Mercuri               2
4  Steven Michael Bellovin               2
5               Matt Blaze               2
6       Seymour E. Goodman               1
7        Alfred Z. Spector               1
8              Jim Horning               1
9      Richard J. Feiertag               1

How would we suggest some future collaborators for this author? One way is by looking at the collaborators of their collaborators!

In [11]:
collaborations_query = """
MATCH (author:Author {name: $authorName})<-[:AUTHOR]-(article)-[:AUTHOR]->(coauthor),
      (coauthor)<-[:AUTHOR]-()-[:AUTHOR]->(coc)
WHERE not((coc)<-[:AUTHOR]-()-[:AUTHOR]->(author)) AND coc <> author      
RETURN coc.name AS coauthor, count(*) AS collaborations
ORDER BY collaborations DESC
LIMIT 10
"""

graph.run(collaborations_query,  {"authorName": author_name}).to_data_frame()

               coauthor  collaborations
0        John Ioannidis              10
1         Scott Bradner               9
2  Angelos D. Keromytis               8
3           John Kelsey               7
4      Virgil D. Gligor               5
5           Ran Canetti               4
6        William Aiello               4
7         Peter Wolcott               4
8      David K. Gifford               4
9         Omer Reingold               4

In [ ]:
params = {"authorName": "Margus Veanes", "searchTerm": "open source"}
graph.run(query, params).to_data_frame()